:root {
  --primary-color: #324ca8;
  --secondary-color: #ffed24;
  --offwhite: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 210px;
  height: 295px;
  object-fit: contain;
}

/* Utils */
.container {
  max-width: 1170px;
  margin: auto;
}

.loader img {
  display: block;
  margin: 2rem auto;
}

/* Navbar Styles */
.navbar {
  padding: 1rem;
  background: url(./assets/img/Field.jpg) no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand a {
  font-size: 1.4rem;
  color: var(--offwhite);
  text-decoration: none;
}

.nav__brand a:hover {
  color: var(--secondary-color);
}

.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.links__link a {
  display: block;
  padding: 1rem;
  color: var(--offwhite);
  text-decoration: none;
  margin-left: 0.5rem;
  border: 1px solid transparent;
  font-size: 20px;
}

.links__link a:hover {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* List Styles */
.listitem {
  text-decoration: none;
  width: 210px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
}

.listitem:hover {
  transform: scale(1.03);
}

.listitem__info {
  color: var(--primary-color);
  text-align: center;
}

.info__name {
  font-size: 1rem;
  padding: 5px;
}

/* Homepage Styles */
.homepage__title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 1.5rem 0;
}

.homepage__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* About page Styles */
.about {
  margin: 2rem 0;
  width: 100%;
}

.about__title {
  font-size: 2rem;
  margin: 1rem;
}

.about__info {
  width: 500px;
  margin: auto;
}

.about__info > p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.about__info > div > ul > li {
  margin-left: 2rem;
  padding: 0.5rem;
}
