:root {
  --primary-color: #324ca8;
  --secondary-color: #ffed24;
  --gradient-color: linear-gradient(
    90deg,
    rgb(55, 111, 6) 0%,
    rgb(71, 121, 9) 35%,
    rgb(59, 169, 76) 100%
  );
  --offwhite: #f4f4f4;
  --dark-gray: #dedcdc;
  --dark: #5e5e5e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 215px;
  object-fit: contain;
  display: block;
  margin: auto;
  width: 80%;
}

/* Pagewrap */
.pagewrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Utils */
.container {
  max-width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

.loader img {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 560px) {
  .container {
    width: auto;
    margin: auto;
  }
}

/* Navbar Styles */
.navbar {
  padding: 1rem;
  background: var(--gradient-color);
  background-size: cover;
  background-color: var(--primary-color);
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
}

.nav__brand a {
  font-size: 1.4rem;
  color: var(--offwhite);
  text-decoration: none;
}

.nav__brand a:hover {
  color: var(--secondary-color);
}

.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.links__link a {
  display: block;
  padding: 0.4rem;
  color: var(--offwhite);
  text-decoration: none;
  margin-left: 0.5rem;
  border: 1px solid transparent;
  font-size: 20px;
}

.links__link a:hover {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* Hamburger Menu */
.hamburger__menu {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: var(--offwhite);
}

.hamburger__menu:hover > div {
  background: var(--secondary-color);
}

@media (max-width: 760px) {
  .nav__links {
    display: none;
  }

  .hamburger__menu {
    display: flex;
  }
}

/* MenuDrop */
.menudrop {
  width: 100%;
  height: 100vh;
  background: var(--gradient-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateY(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menudrop.show {
  transform: translateX(0);
}

.menudrop__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menudrop__links > li {
  display: flex;
  align-items: center;
}

.menudrop__links > li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 1.5rem;
  text-decoration: none;
  color: var(--offwhite);
  font-size: 2rem;
}

.menudrop__links > li a:hover {
  color: var(--secondary-color);
}

@media (min-width: 760px) {
  .menudrop {
    display: none;
  }
}

/* List Styles */
.listitem {
  text-decoration: none;
  width: 150px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem;
  cursor: pointer;
  border-bottom: 4px solid var(--primary-color);
}

.listitem:hover {
  transform: scale(1.03);
}

.listitem__info {
  color: var(--primary-color);
  text-align: center;
}

.info__name {
  font-size: 1rem;
  padding: 5px;
}

@media (max-width: 560px) {
  .listitem {
    width: 190px;
    margin: 1rem auto;
  }
}

@media (max-width: 480px) {
  .listitem {
    width: 170px;
    margin: 1rem 0.3rem;
  }
}

@media (max-width: 420px) {
  .listitem {
    width: 160px;
    margin: 1rem 0.8rem;
  }
}

@media (max-width: 360px) {
  .listitem {
    width: 230px;
    margin: 1rem auto;
  }
}

/* Homepage Styles */
.homepage__title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 1.5rem 0;
  font-size: 2.5rem;
}

.homepage__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1100px) {
  .homepage__list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 900px) {
  .homepage__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 760px) {
  .homepage__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 560px) {
  .homepage__title {
    text-align: center;
  }

  .homepage__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .homepage__list {
    margin: 1rem;
  }
}

@media (max-width: 400px) {
  .homepage__list {
    margin: auto;
  }
}

@media (max-width: 360px) {
  .homepage__list {
    grid-template-columns: 1fr;
  }
}

/* Teams Page Styles */
.teamspage {
  margin: 2rem auto;
}

.teamspage__title {
  color: var(--primary-color);
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--primary-color);
}

.teamspage__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1100px) {
  .teamspage__list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 900px) {
  .teamspage__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 760px) {
  .teamspage__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 560px) {
  .teamspage__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 360px) {
  .teamspage__list {
    grid-template-columns: 1fr;
  }
}

/* Single Team Styles */
.singleteam {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  width: 1100px;
  color: var(--primary-color);
}

.singleteam__logo {
  text-align: center;
  margin-right: 2rem;
}

.singleteam__logo > h1 {
  text-align: center;
  padding: 1rem;
}

.singleteam__info h1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color);
}

.singleteam__info p {
  margin: 1rem 0;
}

@media (max-width: 1100px) {
  .singleteam {
    width: 800px;
  }
}

@media (max-width: 760px) {
  .singleteam {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .singleteam__logo {
    margin: 0;
  }

  .singleteam__logo > h1 {
    padding: 3rem;
  }

  .singleteam__info h1 {
    text-align: center;
  }

  .singleteam__info p {
    text-align: center;
  }
}

/* About page Styles */
.about {
  margin: 2rem auto;
  width: 100%;
}

.about__title {
  font-size: 2rem;
  margin-left: 1rem;
}

.about__info {
  width: 500px;
  margin-left: 1rem;
}

.about__info > div > p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.about__info > div > ul > li {
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

@media (max-width: 760px) {
  .about__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 560px) {
  .about__info {
    width: auto;
  }
}

/* Footer Styles */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: var(--offwhite);
  width: 100%;
  margin-top: 1rem;
}

.footer > h3 {
  color: var(--dark);
}

.footer__links {
  padding: 0.4rem;
  font-size: 2rem;
  text-decoration: none;
}

.footer__links > a {
  margin: 0.5rem;
  color: var(--dark-gray);
}

.footer__links > a:hover {
  color: var(--secondary-color);
}
